/* rip from https://github.com/coldnew/org-ioslide*/
table{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: -moz-initial;
    border-collapse: initial;
    border-spacing: 2px;
    border-bottom: 1px solid #797979;
}

table tr > td:first-child, table th {
    /* font-weight: 600; */
    color: #515151;
}

table tr:nth-child(odd) {
    background-color: #e6e6e6;
}

table th {
    color: white;
    /* font-size: 18px; */
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #4387fd), color-stop(80%, #2a7cdf)) no-repeat;
    background: -webkit-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
    background: -moz-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
    background: -o-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
    background: linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
}

table td, table th {
    /* font-size: 18px; */
    /* padding: 1em 0.5em; */
}

table td.highlight {
    color: #515151;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
    background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
    background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
    background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
    background: linear-gradient(top, #font-family: ;
 40%, #f6c000 80%) no-repeat;
}

table.rows {
    border-bottom: none;
    border-right: 1px solid #797979;
}
